@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #999;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

.min-h-full {
    min-height: calc(100vh - 136px);
    padding: 16px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.boton-cancelar {
  background-color: #DC2626;
}

.boton-cancelar:hover {
  background-color: red !important;
}

.boton-cancelar:active {
  background-color: #cc1515 !important;
}

.boton-cancelar:disabled {
  background-color: grey !important;
}

.boton-editar {
  background-color: #94D1BF;
}

.boton-editar:hover {
  background-color: #A8D9CD;
}

.boton-editar:active {
  background-color: #7BB8A6;
}

.boton-editar:disabled {
  background-color: grey;
}

